*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Lora', serif;
}
button{
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 2px;
    border: none;
}
/*==================================================================*/
button:hover{
    color: #529F0F;
}
.contenedor_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
nav{
    display: none;
}

.logo{
    padding: 20px 30px;
}
.iconos{
    padding: 20px 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color: black;
}
/*==============================BANNER====================================*/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(/Imagenes/slider-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
    margin: 10px;
    
}
#banner h1{
    font-size: xx-large;
}
#banner a{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
}
/*===========================DESCUENTOS====================================*/
#descuentos .descuento-1{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(/Imagenes/banner-1.png);
    background-size: cover;
    margin: 30px;
    height: 260px;
}
.descuento-1 .descuento{
    color: #529F0F;
    font-size: xx-large;
    font-family: 'Lora', serif;
}
.descuento-1 {
    padding-left: 10%;
    padding-top: 10%;
}
.descuento-1 .descripcion-product{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

#descuentos .descuento-2{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(/Imagenes/banner-2.png);
    background-size: cover;
    margin: 30px;
    height: 260px;
}
.descuento-2 .descuento{
    color: #529F0F;
    font-size: xx-large;
    font-family: 'Lora', serif;
}
.descuento-2{
    padding-top: 10%;
    padding-left: 10%;
}
.descuento-2 .descripcion-product{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
/*==========================LATEST PRDUCTS=================================*/
.opacidad-titulo{
    color: grey;
}
#recientes .productos:first-child .productos-img-1{
    background-image: url(/Imagenes/product-detalis-l1.jpg);
    background-size: cover;
    background-position: center center;
    width: 90vw;
    height: 60vh;
    background-repeat: no-repeat;
    margin: auto;
}
#recientes{
    background-image: url(/Imagenes/bg-1.jpg);
    height: 85vh;
    margin: 10px;
    position: relative;
}
#recientes .productos:nth-child(2){
    display:none;
}
#recientes .productos:nth-child(3){
    display:none;
}
#recientes .productos:nth-child(4){
    display:none;
}
#recientes .textos{
    text-align: center;
    margin-top: 10%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.productos-img-1 .descuento{
    width: 70PX;
    height: 70PX;
    background-color: #529F0F;
    border-radius: 50%;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 1.3em;
    margin-left: 2%;
    margin-top: 2%;
}
.productos .titulo-producto{
    margin-left: 5%;
    line-height: 0.7em;
}
/*=================================HOJA==================================*/
#planta .img{
    background-image: url(/Imagenes/testi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: auto;
    width: 15vw;
    height: 10vh;
    margin-top: 10%;
}
#planta .textos{
    text-align: center;
    font-size: larger;
    margin-left: 10%;
    margin-right: 10%;
}
#planta .modificacion-1{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: smaller;
}
#planta .modificacion{
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: medium;
    margin-top: 7%;
}
/*===================================Newproducts===============================*/
#nuevos{
    height: 168vh;
    background-color: #f3f3f3;
    margin: 10px;
    margin-top: 10%;
}
#nuevos .textos{
    text-align: center;
    padding-top: 7%;
}
#nuevos .productos:first-child .producto-1{
    background-image: url(/Imagenes/product-detalis-l1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 60vh;
    margin: auto;
    margin-top: 10%;
}
.producto-1 .descuento{
    width: 70px;
    height: 70PX;
    background-color: #529F0F;
    border-radius: 50%;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    color: white;
    font-size: 1.3em;
    text-align: center;
}
#nuevos .productos:nth-child(5) .producto-5{
    background-image: url(/Imagenes/product-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 55vh;
    margin: auto;
    margin-top: 10%;
}
.producto-5 .descuento{
    width: 70px;
    height: 70PX;
    background-color: #529F0F;
    border-radius: 50%;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    color: white;
    font-size: 1.3em;
    text-align: center;
}
#nuevos .productos:nth-child(2){
    display: none;
}
#nuevos .productos:nth-child(3){
    display: none;
}
#nuevos .productos:nth-child(4){
    display: none;
}
#nuevos .productos:nth-child(6){
    display: none;
}
#nuevos .productos:nth-child(7){
    display: none;
}
#nuevos .productos:nth-child(8){
    display: none;
}
/*========================SUSCRIBIRSE===================================*/
#suscripcion{
    background-image: url(/Imagenes/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25vh;
    text-align: center;
    padding-top: 5%;
    margin: 10px;
}
#suscripcion .enter-email{
    width: 40vw;
    height: 5vh;
    border: 1px solid black;
}
#suscripcion .enter-email p{
    margin: 2%;
    color: #575757;
    font-size: small;
    text-align: left;
    padding-left: 3%;
}
.email{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
/*===================================latestNews==========================*/
#ultimo{
    background-image: url(/Imagenes/bg-1.jpg);
    height: 245vh;
    margin: 10px;
}
#ultimo h2.titulo-sub{
    padding-top: 7%;
}
#ultimo .titulo-sub{
    text-align: center;
}
#ultimo .productos:first-child .textos{
    background-image: url(/Imagenes/blog-single-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 90vw;
    height: 50vh;
    margin: auto;
}
#ultimo .productos {
    padding-top: 5%;
}
#ultimo .redireccion .redireccion-n a{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
#ultimo .redireccion a{
    color: #000000;
    font-size: 1em;
}
#ultimo .redireccion a:hover{
    color: #529F0F;
    font-size: 1em;
}
#ultimo .productos:nth-child(2) .textos{
    background-image: url(/Imagenes/blog-single-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 50vh;
    margin: auto;
}
#ultimo .productos:nth-child(3) .textos{
    background-image: url(/Imagenes/blog-single-3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    height: 50vh;
    margin: auto;
}
#ultimo .redireccion{
    margin-left: 5%;
    padding-top: 5%;
}
/*===========================MARCAS=====================================*/
#marcas .marca{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
#marcas .marca-1{
    background-image: url(/Imagenes/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width:40vw;
    height: 20vh;
}
/*===========================FOOTER=====================================*/
footer{
    background-color: #f8f8f8;
    margin: 10px;
    margin-bottom: 0;
}
footer .footer{
    padding-left: 5%;
    padding-top: 5%;
    font-size: medium;
}
.footer .info1{
    line-height: 250%;
}
.footer .info2{
    line-height: 250%;
}
.footer .info3{
    line-height: 250%;
}
.footer .info4{
    line-height: 170%;
}
.metodo-pago{
    height: 20vh;
    background-color: #ebebeb;
    padding: 0%;
}
footer .textos{
    padding-top: 1%;
    font-size: x-large;
    text-align: center;
}
footer .metodo-pago .img{
    background-image: url(/Imagenes/payment.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    width: 90%;
    height: 30%;
    margin: auto;
}
/*=================================DESKTOP==============================*/
@media (min-width: 720px){
    .contenedor_header{
        display: flex;
        justify-content: space-between;
    }
    nav{
        display: flex;
        align-items: center;
        text-indent: 2em;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        padding-left: -10%;
    }
    nav a:hover{
        color: #529F0F;
    }
    /*==========================DESCUENTOS=================================*/
    #descuentos {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    #descuentos .descuento-1{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 35vw;
        height: 30vh;
    }
    #descuentos .descuento-2{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 35vw;
        height: 30vh;
    }
    .descuento-1{
        padding-left: 3%;
        padding-top: 1%;
    }
    .descuento-2{
        padding-left: 3%;
        padding-top: 1%;
    }
    /*==============================LATEST PRODUCTS========================*/
    #recientes{
        height: 75vh;
    }
    #recientes .contenedor-recientes{
        display: flex;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }
    #recientes .textos{
        padding-left: 30%;
        padding-right: 30%;
    }
    #recientes .productos:first-child .productos-img-1{
        width: 20vw;
        height: 30vh;
    }
    .productos-img-1 .descuento{
        width: 40PX;
        height: 40PX;
        font-size: 12px;
    }
    #recientes .productos:nth-child(2){
        display: block;
    }
    #recientes .productos:nth-child(3){
        display: block;
    }
    #recientes .productos:nth-child(4){
        display: block;
    }
    #recientes .productos:nth-child(2) .producto-img-2{
        background-image: url(/Imagenes/product-2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20vw;
        height: 30vh;
    }
    #recientes .productos:nth-child(3) .producto-img-3{
        background-image: url(/Imagenes/product-3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20vw;
        height: 30vh;
    }
    .producto-img-3 .descuento{
        width: 40PX;
        height: 40PX;
        background-color: #529F0F;
        border-radius: 50%;
        color: white;
        position: absolute;
        text-align: center;
        font-size: 12px;
        margin-left: 2%;
        margin-top: 2%;
    }
    #recientes .productos:nth-child(4) .producto-img-4{
        background-image: url(/Imagenes/product-4.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20vw;
        height: 30vh;
    }
    /*=============================NEW PRODUCTS============================*/
    #nuevos{
        height: 120vh;
        margin-bottom: 0%;
    }
    #nuevos .contenedor-nuevos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }
    #nuevos .productos:first-child .producto-1{
        width: 20vw;
        height: 30vh;
        margin-top: 0;
    }
    #nuevos .productos:nth-child(2){
        display: block;
    }
    #nuevos .productos:nth-child(3){
        display: block;
    }
    #nuevos .productos:nth-child(4){
        display: block;
    }
    #nuevos .productos:nth-child(6){
        display: block;
    }
    #nuevos .productos:nth-child(7){
        display: block;
    }
    #nuevos .productos:nth-child(8){
        display: block;
    }
    #nuevos .productos:nth-child(2) .producto-2{
        background-image: url(/Imagenes/product-3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 20vw;
        height: 30vh;
    }
    #nuevos .productos:nth-child(3) .producto-3{
        background-image: url(/Imagenes/product-5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 20vw;
        height: 30vh;
    }#nuevos .productos:nth-child(4) .producto-4{
        background-image: url(/Imagenes/product-7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 20vw;
        height: 30vh;
    }
    #nuevos .productos:nth-child(5) .producto-5{
        width: 20vw;
        height: 30vh;
        margin-top: 0;
    }
    #nuevos .productos:nth-child(6) .producto-6{
        background-image: url(/Imagenes/product-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 20vw;
        height: 30vh;
    }
    #nuevos .productos:nth-child(7) .producto-7{
        background-image: url(/Imagenes/product-6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 20vw;
        height: 30vh;
    }
    #nuevos .productos:nth-child(8) .producto-8{
        background-image: url(/Imagenes/product-8.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 20vw;
        height: 30vh;
    }
    .producto-1 .descuento{
        width: 40PX;
        height: 40PX;
        font-size: 12px;
        margin-left: 2%;
        margin-top: 2%;
    }
    .producto-2 .descuento{
        width: 40PX;
        height: 40PX;
        background-color: #529F0F;
        border-radius: 50%;
        color: white;
        position: absolute;
        text-align: center;
        font-size: 12px;
        margin-left: 2%;
        margin-top: 2%;
    }
    .producto-4 .descuento{
        width: 40PX;
        height: 40PX;
        background-color: #529F0F;
        border-radius: 50%;
        color: white;
        position: absolute;
        text-align: center;
        font-size: 12px;
        margin-left: 2%;
        margin-top: 2%;
    }
    .producto-5 .descuento{
        width: 40PX;
        height: 40PX;
        font-size: 12px;
        margin-left: 2%;
        margin-top: 2%;
    }
    .producto-7 .descuento{
        width: 40PX;
        height: 40PX;
        background-color: #529F0F;
        border-radius: 50%;
        color: white;
        position: absolute;
        text-align: center;
        font-size: 12px;
        margin-left: 2%;
        margin-top: 2%;
    }
    #nuevos .textos{
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 3%;
    }
    /*===============================SUSCRIPCION==========================*/
    #suscripcion{
        height: 40vh;
        margin-top: 0;
        margin-bottom: 0;
    }
    #suscripcion .enter-email{
        width: 30vw;
        height: 7vh;
    }
    button{
        width: 15vw;
        height: 7vh;
    }
    #suscripcion .enter-email p{
        margin: 5%;
    }
    /*===========================LATEST NEWS==============================*/
    #ultimo{
        margin-top: 0;
        height: 100vh;
    }
    .titulo-sub{
        margin-top: 0;
    }
    .contenedor-ultimo{
        display: flex;
        justify-content: center;
        margin: 7%;
        margin-top: 0;
    }
    #ultimo .productos:first-child .textos{
        width: 25vw;
        height: 35vh;
    }
    #ultimo .productos:nth-child(2) .textos{
        width: 25vw;
        height: 35vh;
    }
    #ultimo .productos:nth-child(3) .textos{
        width: 25vw;
        height: 35vh;
    }
    #ultimo .productos{
        width: 30vw;
    }
    /*=================================MARCAS==============================*/
    
    #marcas .marca{
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }
    #marcas .marca-1{
        width: 15vw;
        height: 10vh;
    }
    #marcas .marca-2{
        background-image: url(/Imagenes/2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 15vw;
        height: 10vh;
    }
    #marcas .marca-3{
        background-image: url(/Imagenes/3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 15vw;
        height: 10vh;
    }
    #marcas .marca-4{
        background-image: url(/Imagenes/4.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 15vw;
        height: 10vh;
    }
    #marcas .marca-5{
        background-image: url(/Imagenes/5.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 15vw;
        height: 10vh;
    }
    /*===========================FOOTER===================================*/
    footer .footer{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 7%;
    }
    footer .metodo-pago{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer .metodo-pago .img{
        width: 50%;
        height: 30%;
        margin: 0;
    }
    .metodo-pago{
        height: 10vh;
    }
    footer .textos{
        font-size: small;
        padding-left: 10%;
    }
}

@media (min-width: 990px){
    .contenedor_header .logo{
        margin-left: -30%;
    }
}