*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Lora', serif;
}
button{
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 2px;
    border: none;
}
/*==================================================================*/
button:hover{
    color: #529F0F;
}
.contenedor_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
nav{
    display: none;
}

.logo{
    padding: 20px 30px;
}
.iconos{
    padding: 20px 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color: black;
}
/*====================================================================*/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(/Imagenes/slider-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
    margin: 10px;
    
}
#banner h1{
    font-size: xx-large;
}
#banner a{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
}
/*======================================================================*/
#descuentos .descuento-1{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(/Imagenes/banner-1.png);
    background-size: cover;
    margin: 30px;
    height: 260px;
}
.descuento-1 .descuento{
    color: #529F0F;
    font-size: xx-large;
    font-family: 'Lora', serif;
}
.descuento-1 {
    padding-left: 10%;
    padding-top: 10%;
}
.descuento-1 .descripcion-product{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

#descuentos .descuento-2{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(/Imagenes/banner-2.png);
    background-size: cover;
    margin: 30px;
    height: 260px;
}
.descuento-2 .descuento{
    color: #529F0F;
    font-size: xx-large;
    font-family: 'Lora', serif;
}
.descuento-2{
    padding-top: 10%;
    padding-left: 10%;
}
.descuento-2 .descripcion-product{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
/*======================================================================*/
.opacidad-titulo{
    color: grey;
}
#recientes .productos:first-child .productos-img-1{
    background-image: url(/Imagenes/product-detalis-l1.jpg);
    background-size: cover;
    background-position: center center;
    width: 90vw;
    height: 60vh;
    background-repeat: no-repeat;
    margin: auto;
}
#recientes{
    background-image: url(/Imagenes/bg-1.jpg);
    height: 85vh;
    margin: 10px;
    position: relative;
}
#recientes .productos:nth-child(2){
    display:none;
}
#recientes .productos:nth-child(3){
    display:none;
}
#recientes .productos:nth-child(4){
    display:none;
}
#recientes .textos{
    text-align: center;
    margin-top: 10%;
    padding-top: 4%;
}

.productos-img-1 .descuento{
    width: 7%;
    height: 6%;
    background-color: #529F0F;
    border-radius: 50%;
    color: white;
    position: absolute;
    margin-left: 2%;
    margin-top: 2%;
}
.productos .titulo-producto{
    margin-left: 5%;
    line-height: 0.7em;
}
/*=================================HOJA==================================*/
#planta .img{
    background-image: url(/Imagenes/testi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
    width: 15vw;
    height: 10vh;
    margin-top: 10%;
}
#planta .textos{
    text-align: center;
    font-size: larger;
    margin-left: 10%;
    margin-right: 10%;
}
#planta .modificacion-1{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: smaller;
}
#planta .modificacion{
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    font-size: medium;
    margin-top: 7%;
}
/*===================================Newproducts===============================*/
#nuevos{
    width: 100vw;
    height: 162vh;
    background-color: #f3f3f3;
    margin: 10px;
}
#nuevos .textos{
    text-align: center;
    padding-top: 7%;
}
#nuevos .productos:first-child .producto-1{
    background-image: url(/Imagenes/product-detalis-l1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 60vh;
    margin: auto;
    margin-top: 10%;
}
.producto-1 .descuento{
    width: 15%;
    height: 10%;
    background-color: #529F0F;
    border-radius: 50%;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    color: white;
    font-size: 2em;
    padding-left: 1%;
}
#nuevos .productos:nth-child(5) .producto-5{
    background-image: url(/Imagenes/product-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 60vh;
    margin: auto;
    margin-top: 10%;
}
.producto-5 .descuento{
    width: 15%;
    height: 10%;
    background-color: #529F0F;
    border-radius: 50%;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    color: white;
    font-size: 2em;
    padding-left: 1%;
}
#nuevos .productos:nth-child(2){
    display: none;
}
#nuevos .productos:nth-child(3){
    display: none;
}
#nuevos .productos:nth-child(4){
    display: none;
}
#nuevos .productos:nth-child(6){
    display: none;
}
#nuevos .productos:nth-child(7){
    display: none;
}
#nuevos .productos:nth-child(8){
    display: none;
}
/*========================SUSCRIBIRSE===================================*/
#suscripcion{
    background-image: url(/Imagenes/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 20vh;
    text-align: center;
    padding-top: 5%;
    margin: 10px;
    
}
#suscripcion .enter-email{
    width: 40vw;
    height: 5vh;
    border: 1px solid black;
}
.email{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
/*===================================latestNews==========================*/
#ultimo{
    background-image: url(/Imagenes/bg-1.jpg);
    width: 100vw;
    height: 230vh;
    margin: 10px;
}
#ultimo h2.titulo-sub{
    padding-top: 7%;
}
#ultimo .titulo-sub{
    text-align: center;
}
#ultimo .productos:first-child .textos{
    background-image: url(/Imagenes/blog-single-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 90vw;
    height: 50vh;
    margin: auto;
}
#ultimo .productos {
    padding-top: 5%;
    font-size: large;
}
#ultimo .redireccion .redireccion-n a{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
#ultimo .redireccion a{
    color: #529F0F;
    font-size: 1.2em;
}
#ultimo .productos:nth-child(2) .textos{
    background-image: url(/Imagenes/blog-single-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 50vh;
    margin: auto;
}
#ultimo .productos:nth-child(3) .textos{
    background-image: url(/Imagenes/blog-single-3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    height: 50vh;
    margin: auto;
}
#ultimo .redireccion{
    margin-left: 5%;
}
/*===========================MARCAS=====================================*/
#marcas {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
#marcas .marca:first-child{
    background-image: url(/Imagenes/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40vw;
    height: 15vh;
}
#marcas .marca:nth-child(2){
    display: none;
}
#marcas .marca:nth-child(3){
    display: none;
}
#marcas .marca:nth-child(4){
    display: none;
}
#marcas .marca:nth-child(5){
    display: none;
}
/*===========================FOOTER=====================================*/
footer{
    background-color: #f8f8f8;
    margin: 10px;
}
footer .footer{
    padding-left: 5%;
    padding-top: 5%;
    font-size: x-large;
}
.metodo-pago{
    width: 100vw;
    height: 15vh;
    background-color: #ebebeb;
    padding: 0%;
}
footer .textos{
    padding-top: 1%;
    font-size: x-large;
    text-align: center;
}
footer .metodo-pago .img{
    background-image: url(/Imagenes/payment.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    width: 90%;
    height: 30%;
    margin: auto;
}
